
body{
	margin: 0px;
	padding: 0px;
	background-color: #FAFAFA;
	font-family:  sans-serif;
}
#aboutsec{
	height: 700px;
	width: 100%;
}

.img{
	height: 500px;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../assets/img/bg.jpg") rgba(0,0,0,0.7);
	background-size: cover;;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.about{
	height: 300px;
	width: 50%;
	top: 20px;
	background-color: #F5F5F5;
	position: absolute;
	top: 300px;
	left: 25%;
	box-shadow: 0px 0px 6px rgba(0,0,0,.5);
	margin: 5px; 
	display: flex; 
}
.text{
	text-align: justify;
	margin-left: 10px; 
	overflow: hidden;
}

.text h1{
	font-size: 2.2em;
	margin-bottom: 10px;
	margin-left: 2px;
	color:  #494949;
}
.text h3{
	margin-top: 10px;
	color: #c9c1ac;
}
.text p{
	color:  #494949;
}
.profile{
	height: 260px;
	width: 460px;
	background-image:  url("../assets/img/mypic.jpg");
	background-size: cover;;
	background-repeat: no-repeat;
	margin:10px;
	margin-top: 20px;
	box-shadow: 0px 0px 4px rgba(0,0,0,.9);
	overflow: hidden;
}


#work{
	height: auto;
	width: 80%;
	margin: 0 auto;
}
.title h1{
	text-align: center; 
	margin-bottom: 100px;
	font-size: 2.2em;
	color: #494949;
}
.allcard{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
mat-card{
	width: 200px;
	height: 200px;
	margin: 50px;
	background-color: #F0F0F0;
	text-transform: capitalize;
}
mat-card h1{
	color: #3F51B5;
	font-size: 1.7em;
}
mat-card p{
	color: #000;
	font-weight: bold;
	font-size: 1em;
	color:  #494949;
}
.code{
	margin: 5px;
}
.code a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}




#contuc{
	height: 400px;
	width: 100%;
	
	
}
.hold{
	height: 250px;
	width: 100%;
	margin-top: 200px;
	background-color: #DBDDE0;
	box-shadow: 0px 0px 4px rgba(0,0,0,.6);
}

.hold h1{
	font-size: 3em;
	color:  #494949;
	text-align: center;
}

.email{
	text-align: center;
	margin-left: 40px;
}
.email h2{
	color: gray ;
}



